@import "colors/colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    padding: 0;
    margin: 0;
    min-width: 10px;
}

window#waybar {
    background-color: alpha(@bg0, 0.5);
}

tooltip {
    background: transparent;
    border: 1px solid @accent1;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
}

#workspaces {
    min-width: 0;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

/* base (optional) */
#workspaces button {
    color: transparent;
    background: linear-gradient(180deg, @grey0 0%, @bg1 100%);
    /* was @grey0 */
    transition: all 0.3s ease-in-out;
    min-width: 0;
    margin: 5px 0;
    border-radius: 3px;
}

/* active */
#workspaces button.active {
    background: linear-gradient(180deg, @accent1 0%, @accent2 100%);
    color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    border-radius: 9999px;
    min-height: 80px;
}

/* hover */
#workspaces button:hover {
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    @accent1 20%,
    @accent2 100%
    );
    /* was background-color:@purple */
    color: transparent;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

/* urgent */
#workspaces button.urgent {
    background: linear-gradient(180deg, @red 0%, @orange 100%);
    /* was background-color:@red */
    color: @bg0;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#battery,
#network,
#pulseaudio,
#memory {
    background-color: alpha(@bg0, 0);
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 15px 0;
}

#pulseaudio-slider slider {
    border-radius: 2px;
}

#pulseaudio-slider trough {
    min-height: 150px;
    border-radius: 5px;
}

#pulseaudio-slider highlight {
    border-radius: 5px;
}

.misc-modules {
    font-size: 15px;
}

#custom-launcher {
    color: @fg;
}

#custom-separator {
    margin-top: 5px;
    font-size: 20px;
}

#clock {
    color: @accent1;
    font-family: "Neue Machina";
    font-weight: 600;
    font-size: 28px;
    margin: 15px 5px 0 5px;
}

#memory {
    color: shade(@accent2, 1.4);
    font-size: 24px;
}

#custom-media {
    color: @aqua;
}

#custom-weather {
    color: @yellow;
}

#custom-notification {
    color: @fg;
    margin: 10px;
}

#power-profiles-daemon {
    color: @fg;
    margin: 10px;
}

#custom-pacman {
    color: @orange;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @purple;
}

#battery {
    color: @green;
    margin-bottom: 20px;
}
